.main-menu{
    display:flex;
    broder-bottom-color: #bbbbbb;
    border-bottom-style: solid;
    border-width: 0.1px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.menu{
    padding: 1rem;
    background-color: #dba4a4;
    border-width: 0.1px;
    border-color: white;
    border-style: solid
}

.menu-active{
    font-weight: 400;
    color: #ffffff;
}