
.phone-list-header {
    background-color: #d2d2d2;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    padding: 2rem;
    font-weight: 700;
}




.header-right-btn {
    font-size: 1rem;
    text-decoration: none !important;
}