
.phone-list-header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    font-weight: 500;
    font-size: 1rem;
    color: #000000a2;
    
}

.header-list {
    background-color: #ebebeb;
}



.header-right-btn {
    
    text-decoration: none !important;
    color: #4893f5;
}


.goback{
    cursor:pointer;
    color: #4893f5;
}