
.phone-search {
    background-color: #ebebeb;
    padding: 1rem;
}

.phone-search-input {
    width: 95%;

    padding-left : 10px;
    
    height: 2rem;
    
    background-color: #ffffffa4;
    outline: none;
    border: none;
    border-bottom: 0px solid #224466;
    border-radius: 10px;

    font-size: 1.5rem;
    color:  #000000a2;
}


